# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv('../output_data/cities.csv')
cities_df.dropna()
cities_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Hobart,100,AU,1579965707,77,-42.88,147.33,66.00,1.01
1,1,Constitucion,0,CL,1579965902,38,-35.33,-72.42,72.21,8.25
2,2,Carnarvon,0,AU,1579965902,74,-24.87,113.63,77.43,22.84
3,3,Aklavik,100,CA,1579965718,95,68.22,-135.01,-13.76,24.36
4,4,Nelson Bay,99,AU,1579965923,90,-32.72,152.15,77.00,3.89
...,...,...,...,...,...,...,...,...,...,...
530,530,Saiha,0,IN,1579966908,63,22.48,92.97,48.74,2.68
531,531,Ballia,0,IN,1579966908,75,25.76,84.15,55.13,4.47
532,532,Tutoia,0,BR,1579966908,55,-2.76,-42.27,90.46,7.02
533,533,Chancay,98,PE,1579966968,87,-11.57,-77.27,72.25,8.23
534,534,Tomatlan,100,MX,1579966968,87,19.93,-105.25,68.05,2.66

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df['Humidity'].astype(float)

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Conditions = Cloudiness = 0, 70 > Max Temp < 90, Wind Speed < 10, adding humidity < 70 to get less than 10 cities
criteria_df = cities_df.drop(cities_df.index[(cities_df['Cloudiness'] != 0)])
criteria_df = criteria_df.drop(criteria_df.index[(criteria_df['Max Temp'] > 80)])
criteria_df = criteria_df.drop(criteria_df.index[(criteria_df['Max Temp'] < 70)])
criteria_df = criteria_df.drop(criteria_df.index[(criteria_df['Humidity'] > 70)])
criteria_df = criteria_df.drop(criteria_df.index[(criteria_df['Wind Speed'] > 10)]).dropna().reset_index(drop=True)
criteria_df = criteria_df.rename(columns={'Unnamed: 0':'Cities Index','Date':'Datetime'})
criteria_df

,Cities Index,City,Cloudiness,Country,Datetime,Humidity,Lat,Lng,Max Temp,Wind Speed
0,1,Constitucion,0,CL,1579965902,38,-35.33,-72.42,72.21,8.25
1,51,Ararangua,0,BR,1579966065,50,-28.93,-49.49,79.30,5.57
2,146,Samana,0,DO,1579966323,56,19.21,-69.34,79.97,2.68
3,256,Cidreira,0,BR,1579966234,56,-30.18,-50.21,76.35,4.34
4,270,Puerto Escondido,0,MX,1579966387,62,15.85,-97.07,75.69,0.78
5,298,Pedernales,0,DO,1579966540,63,18.04,-71.74,77.36,4.23
6,369,Alice Springs,0,AU,1579966504,22,-23.70,133.88,77.02,8.39

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# Create hotel_df, only need city, country, lat/lng for google api, and hotel name
# Based on the criteria_df, so we already set the parameters we want for the city to vacation at
hotel_df = criteria_df.drop(['Cities Index','Cloudiness','Datetime','Humidity','Max Temp','Wind Speed'],axis=1)
hotel_df['Hotel Name'] = ''
hotel_df

               City Country    Lat     Lng Hotel Name
0      Constitucion      CL -35.33  -72.42
1         Ararangua      BR -28.93  -49.49
2            Samana      DO  19.21  -69.34
3          Cidreira      BR -30.18  -50.21
4  Puerto Escondido      MX  15.85  -97.07
5        Pedernales      DO  18.04  -71.74
6     Alice Springs      AU -23.70  133.88

In [12]:
# Google places search for hotels
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "type": "hotel",
    "radius": 5000,
    "key": g_key
}
# Use iterrows to go through the dataframe
for index, row in hotel_df.iterrows():
    # Get the lat, lng from each row
    lat = row['Lat']
    lng = row['Lng']
    city = row['City']
    latlng = f"{lat},{lng}"
    params['location'] = latlng
    
    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    # extract results
    results = response['results']
    # Run through the cities
    try:
        print(f'Finding you a hotel in {city}.')
        hotel_df.loc[index,'Hotel Name'] = results[0]['name']
    except (KeyError, IndexError):
        print('Missing field/result, skipping city.')
    print('------------')

Finding you a hotel in Constitucion.
------------
Finding you a hotel in Ararangua.
------------
Finding you a hotel in Samana.
------------
Finding you a hotel in Cidreira.
------------
Finding you a hotel in Puerto Escondido.
------------
Finding you a hotel in Pedernales.
------------
Finding you a hotel in Alice Springs.
------------

In [13]:
hotel_df

               City Country    Lat     Lng          Hotel Name
0      Constitucion      CL -35.33  -72.42        ConstituciÃ³n
1         Ararangua      BR -28.93  -49.49           AraranguÃ¡
2            Samana      DO  19.21  -69.34              Samana
3          Cidreira      BR -30.18  -50.21            CIDREIRA
4  Puerto Escondido      MX  15.85  -97.07  Brisas de Zicatela
5        Pedernales      DO  18.04  -71.74       Anse-Ã -Pitres
6     Alice Springs      AU -23.70  133.88       Alice Springs

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(
        locations,
        info_box_content=hotel_info,
        display_info_box=True,
        hover_text=hotel_df['City']
    )
fig.add_layer(marker_layer)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))